body {
  background-color: #181e23 !important;
  font-family: 'Inter', sans-serif;
}

footer h6 {
  width: fit-content;
  color: white;
}

ul {
  display: flex;
  list-style-type: none;
}

article {
  transform: skewY(-2deg);
}

article h2 {
  font-size: 52px;
  padding-left: 24px;
}

article h3 {
  font-size: 1.7em;
}

.article-content {
  transform: skewY(2deg);
  padding: 0;
  margin: 0;
}

.main-container {
  color: white;
  font-size: 1.5em;
}

#content-container {
  width: fit-content;
}

#content-container a {
  color: white;
  text-decoration: none;
}

#content-container a:hover {
  color: white;
  text-decoration: underline;
}

#bar93-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-content: center;
}

#index-title {
  font-size: 2.5em;
  width: fit-content;
  padding: 44px 0;
}

.mobile-hide {
  display: none;
}

.editorial {
  display: none;
}

.center {
  margin: 0 auto;
}

.height {
  height: 1650px;
}

#section-title {
  height: auto;
}

.index-copy {
  font-size: 1.5em;
  font-family: 'Inter', sans-serif;
}

.medium-image {
  width: 70vw;
  height: 31vw;
  border: 1px solid black;
  border-radius: 8px;
}

.large-image {
  width: 30vh;
  margin: 0 auto;
}

.article-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.article-column {
  padding: 24px;
}

#article-pythia {
  background-color: #7B6D8D;
  color: black;
}

#article-pythia a {
  color: white;
}

#article-airbnjh93 {
  background-color: #fafafaec;
  color: black;
}

#article-airbnjh93 a {
  color: #FF385C;
}

#article-bar93 {
  background-color: black;
  align-items: center;
  justify-content: space-around;
}

#article-bar93 a {
  color: rgba(81, 203, 238, 1)
}

#article-movie-search {
  background-color: #4da1a9;
}

#article-movie-search a {
  color:#181E23;
}

#section-cards {
  height: 100vh;
}

@media screen and (min-device-width: 400px) {
  .index-copy {
    font-size: 16px;
  }

  article h3 {
    font-size: 18px;
  }

  article h2 {
    font-size: 20px;
    padding-left: 5px;
  }

  .medium-image {
    width: 35vw;
    height: 25vh;
  }

  .height {
    height: 700px;
  }

  .large-image {
    width: 35vw;
  }

  .article-column {
    padding: 5px;
  }

  #article-bar93 {
    padding-top: 20px;
  }
}

@media (min-width: 1100px) {

  #bar93-container {
    flex-direction: row;
    justify-content: space-around;
  }

  article h3 {
    font-size: 1.2em;
  }

  article h2 {
    font-size: 1.5em;
    padding-left: 23px;
  }

  .mobile-hide {
    display: block;
  }

  .medium-image {
    width: 40vw;
    height: 18vw;
    border: 1px solid black;
    border-radius: 8px;
  }

  #section-title {
    height: 100vh;
  }

  .editorial {
    display: block;
    width: 100%;
    height: 60px;
    max-height: 60px;
    margin: 0;
    z-index:5;
    bottom:0;
    position:absolute;
    left:0px;
    float:left;
  }

  .large-image {
  width: 50vw;
}

  #index-title {
    font-size: 5em;
    width: min-content;
    padding: 32px 0 0 0;
    line-height: 1em;
  }

  .center-text {
    text-align: center;
  }

  .article-row {
    display: flex;
    align-items: center;
    flex-direction: row;
  }

  .article-column {
    flex: 50%;
    padding: 24px;
  }

  .index-copy {
    font-size: 18px;
  }

  .height {
  height: 700px;
  
  }

  .contact-details {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98vw;
  }

  .parallax1 > use {
  animation: move-forever1 10s linear infinite;
  }

  .parallax1:nth-child(1) {
    animation-delay: -2s;
  }

  .parallax2 > use {
    animation: move-forever2 8s linear infinite;
  }

  .parallax2:nth-child(1) {
    animation-delay: -2s;
  }

  .parallax3 > use {
    animation: move-forever3 6s linear infinite;
  }

  .parallax3:nth-child(1) {
    animation-delay: -2s;
  }

  .parallax4 > use {
    animation: move-forever4 4s linear infinite;
  }

  .parallax5:nth-child(1) {
    animation-delay: -2s;
  }

  @keyframes move-forever1 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever2 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
  @keyframes move-forever3 {
    0% {
      transform: translate(85px, 0%);
    }
    100% {
      transform: translate(-90px, 0%);
    }
  }
  @keyframes move-forever4 {
    0% {
      transform: translate(-90px, 0%);
    }
    100% {
      transform: translate(85px, 0%);
    }
  }
}
