body {
  background-color: #181E23 !important;
}

.main-container {
  color: white;
  font-size: 1.5em;
}

#index-title {
  font-size: 5em;
  max-width: 90vw;
  margin: 0 auto;
}

@media only screen and (min-width: 768px) {
  .height {
  height: 100vh;
  }

  #index-title {
    max-width: 80vw;
  }
}
