.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
  margin: 0 16px;
}

.cards a:hover {
  color: #3461c1;
}

.card-index {
  background-size: cover;
  background-position: center;
  height: 23vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

#card-pythia {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://github.com/jakehowlett93/portfolio/blob/master/media/pythia-home.PNG?raw=true");
  background-position: left;
}

#card-airbnjh93 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://github.com/jakehowlett93/portfolio/blob/master/media/airbnjh93-home.PNG?raw=true");
  background-position: center;
}

#card-bar93 {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://github.com/jakehowlett93/portfolio/blob/master/media/bar93-home.PNG?raw=true");
  background-position: center;
}

#card-movie-search {
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("https://github.com/jakehowlett93/portfolio/blob/master/media/movie-search-home.PNG?raw=true");
  background-position: center;
}

@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-index {
    height: 20vh;
  }
}

@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr;
  }

  .card-index {
    height: 20vh;
  }
}

@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }

 .card-index {
    height: 40vh;
  }

  .vh-40 {
    height: 40vh;
  }
}

@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}